MEMORY {
    # 256 Byte Oric disk file descriptor zone
    HEADER: start = $0000, size = 256, file = %O, fill = yes;
    # Real Oric upper RAM destination vector where the boot sector loads
    BOOTRAM: start = $B000, size = 512, file = %O, fill = yes;
}

SEGMENTS {
    DSKHDR:   load = HEADER,  type = ro;
    BOOTCODE: load = BOOTRAM, type = ro;
}
