MEMORY {
    HEADER: start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    S1:     start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    S2:     start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    S3:     start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    S4:     start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    S5:     start = $0000, size = 256,    file = %O, fill = yes, fillval = 0;
    # S6 onward: program.bin injected by build.sh; remainder zero-filled
    REST:   start = $0000, size = 695040, file = %O, fill = yes, fillval = 0;
}

SEGMENTS {
    DSKHDR: load = HEADER, type = ro;
    SEC1:   load = S1,     type = ro;
    SEC2:   load = S2,     type = ro;
    SEC3:   load = S3,     type = ro;
    SEC4:   load = S4,     type = ro, optional = yes;
    SEC5:   load = S5,     type = ro, optional = yes;
    REST:   load = REST,   type = ro, optional = yes;
}
